mixin firstPage()

  div.first-page
      img(src='../images/Group.svg' class='logo-jrg')
      h1.first-page-title= 'Конференции, которые нужны' 
      p.text-paragraph 
        | Мы JUG Ru Group делаем крупнейшие конференции для программистов и сочувствующих.
      p.text-paragraph 
        | С нас - крутая программа, топовые спикеры, технические доклады без воды. 
      p.text-paragraph 
        | С вас - готовность смотреть и общаться.

      div.buttons-wrapper
        include ../blocks/button/button.pug 

        + button({yellowButton: 'true', emojiLink: '../images/fine.svg', buttonText: 'Купить билет'})

        + button({blackButton: 'true', emojiLink: '../images/facepalm.svg', buttonText: 'Послать'})

      script(defer src='../js/script.js') 
